body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gray;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

main {
    margin: 90px auto;
    background-color: lightgray;
    max-width: 800px;
}

footer {
    margin-top: 300px;
}

section {
    padding: 0 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: grey;
    color: white;
}

#index {
    text-align: center; 
    width: 320px; 
    margin: auto;
}

#about {
    text-align: center; 
    width: 340px; 
    margin: auto;
}